<h1>Entries#new</h1>
<p>Find me in app/views/entries/new.html.erb</p>

<%= form_for @entry, :html => {:multipart => true} do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :body %>
		<%= f.text_area :body, :rows => 5 %>
	</div>
	<div>	
		<%= f.label :photo %>	
		<%= f.file_field :photo %>
	</div>
	
	<div>	
		<%= f.label :category %>	
		<%= f.select :category, Entry::CATEGORIES %>
	</div>

	<div>	
		<%= f.label :tags, "Tags: Separate with comma(,)" %>	
		<%= text_field_tag :tags, '', :size => 50 %>
	</div>
	
	<%= f.submit "Save", :class => 'btn' %>
<% end %>	
