<h1>Entries#show</h1>
<p>Find me in app/views/entries/show.html.erb</p>

<h2><%= @entry.title %>(<span class="comment_count"><%= @entry.comments.size %></span>)</h2>

<div class="atby">
	by <%= link_to @entry.user %> at <%= @entry.created_at.to_s(:db) %>
</div>	

<div class="meta">
	<div>Category: <%= link_to @entry.category.camelize %></div>
	<div>Tags: 
		<%=raw @entry.tags.map { |tag| link_to tag, entries_tag_path(tag) }.join(', ') %>
	</div>
	<div class="like">
		<%= @entry.likes.size %> Like(s).
		<% if current_user.likes?(@entry) %>
			You already liked it! 
			<%= link_to image_tag('star_inactive.png', :alt => "Cancel Like"), dislike_path(@entry), :method => :post %>
		<% else %>
			<%= link_to image_tag('star_active.png', :alt => "Like!"), like_path(@entry), :method => :post %>
		<% end %>
	</div>	
</div>	
	
<p class="body">
	<%= @entry.body %>
</p>	

<%= image_tag @entry.photo.url if @entry.photo? %>

<%= link_to "Home", root_path %> |
<%= link_to "Entries", entries_path %> |
<%= link_to "New Entry", new_entry_path %> |
<%= link_to "Delete", @entry, :method => :delete %>

<hr />

<h3>Comments</h3>
<%= render "shared/comments" %>