<h2>Sign in</h2>

<%= form_tag user_session_path do %>
  <div>
		<%= label_tag :email %>
  	<%= email_field_tag :'user[email]' %>
	</div>
  <div>
		<%= label_tag :password %>
  	<%= password_field_tag :'user[password]' %>
	</div>	
  <div><%= check_box_tag :'user[remember_me]' %> <%= label_tag :remember_me %></div>
  <div><%= submit_tag "Sign in" %></div>
<% end %>
